<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/css/products.css">
    <title>Add product</title>
</head>
<body>
    <form method="POST">
        <label>Title</label>
        <input type="text" placeholder="Ingrese titulo del producto" name="title" required/>

        <label>Description</label>
        <input type="text" placeholder="Ingrese descripcion" name="description" required/>
        
        <label>Price</label>
        <input type="number" placeholder="Ingrese el precio" name="price" required/>
        
        <button type="submit">Add</button>
    </form>
</body>
</html>