<html>
    <p>Your name is: {{name}}</p>
    <p>Your email is: {{email}}</p>
    <p>You status is: {{status}}</p>

    <button type="button">
        <a href="http://localhost:3000/log-out">Cerrar sesión</a>
    </button>
</html>