<nav>
    <button>
        <a href="http://localhost:3000/profile/{{name}}">
            Profile
        </a>
    </button>

    <button type="button">
            <a href="http://localhost:3000/products">Products</a>
    </button>
</nav>